body, h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", sans-serif;
}

.w3-row-padding, img {
	margin-bottom: 12px;
}

/* Set the width of the sidenav to 120px */
.w3-sidenav {
	width: 120px;
	background: #222;
}

/* Add a left margin to the "page content" that matches the width of the sidenav   (120px) */
#main {
	margin-left: 120px;
}

button {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.glyphicon {
	color: white;
}

#sidebar-button, #header-button {
	color: white;
}

.input-group {
	border: 2px solid #a1a1a1;
	border-radius: 5px;
}

/* SCORING PAGE STYLE DETAILS */

#Batters, #Bowlers, #Ball-By-Ball {
	height: 110px;
}


/* Below table related blocks are to make the 
 * Ball-By-Ball table scrollable */
.table-fixed {
	position:relative; 
	/*fixes the position of the table 
	 inside an outer div*/ 
}

/* Allows for the whole table to scroll if its
 height is greater than 250 pixels. */
.table-scroll {
	height: 130px;
	overflow: auto;
	margin-top: 20px;
}
/
/* The table will take up the whole of the width 
 of the div it is placed inside. */
.table-fixed table {
	width: 100%
}

/* The background color of every cell in the table
 will be set to black such that none of the table 
 rows or cells are transparent. */
.table-fixed table * {
	background: black;
}

.table-fixed table thead th #heading {
	/* Fixes the position of the table heading row. */
	position: absolute; 
	/* HTML elements with a higher z-index are placed
	on top of those with a lower z-index. */
	z-index: 2;
	/* The below 2 attributes fix the height and position 
	of the table heading such that any rows being scrolled
	will pass underneath them. */
	top: -20px;
	height: 20px;
}

/* To make scoring buttons circular and correctly grouped 
 * together */ 
.btn-circle {
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 6px 0;
	font-size: 15px;
	line-height: 1.428571429;
	border-radius: 19px;
}

.btn-title {
	width: 60px !important; 
}

.btn-events {
	width: 92px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
