{% extends "./base.html" %}
{% load staticfiles %}

{% comment %} http://www.webhook.com/docs/template-inheritance-blocks/ {% endcomment %}

{% block head_js %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div>
	<!-- Header/Home -->
	<header class="w3-container w3-padding-32 w3-center w3-black" id="home">
	<h1 class="w3-jumbo"><span class="w3-hide-small">Cricket Scorer</span></h1>
	<p>A Simple Cricket Scoring Web App</p>
	</header>

	<!-- Selection Menu -->
	<div class="w3-content w3-justify w3-text-grey w3-padding-64">
		<!--button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#match-details" onclick="alert('here');">Start Scoring</button><br-->
		<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#match-setup">Start Scoring</button><br>
		<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#player-details">Players</button><br>
		<button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#team-details">Teams</button>
	</div>
</div>

	{% include "./modal_start_scoring_menu.html" %}
	{% include "./modal_players_menu.html" %}
	{% include "./modal_teams_menu.html" %}
{% endblock %}


{% block body_js %}
	<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/menus.js' %}"></script>
{% endblock %}

