<div class="btn-group" id="runs-scored">
	<button type="button" class="btn btn-success btn-circle btn-title" disabled>Runs</button>
	<button type="button" class="btn btn-info btn-circle"><b>⊙</b></button>
	<button type="button" class="btn btn-info btn-circle">1</button>
	<button type="button" class="btn btn-info btn-circle">2</button>
	<button type="button" class="btn btn-info btn-circle">3</button>
	<button type="button" class="btn btn-info btn-circle">4</button>
	<button type="button" class="btn btn-info btn-circle">5</button>
	<button type="button" class="btn btn-info btn-circle">6</button>
</div>
<div class="btn-group" id="extras">
	<button type="button" class="btn btn-success btn-circle btn-title" disabled>Extras</button>
	<button type="button" class="btn btn-warning btn-circle">Wb</button>
	<button type="button" class="btn btn-warning btn-circle">Nb</button>
	<button type="button" class="btn btn-warning btn-circle">Lb</button>
	<button type="button" class="btn btn-warning btn-circle">B</button>
	<button type="button" class="btn btn-warning btn-circle">P</button>
	<button type="button" class="btn btn-primary btn-circle">Sh</button>
	<button type="button" class="btn btn-danger btn-circle">Wi</button>
</div><br>
