<div class="row">
	<div class="col-xs-3" style="text-align:right">
		<div class="">Home Team Name</div>
	</div>
	<div class="col-xs-1">
		<div class="">(227/7)</div>
	</div>
	<div class="col-xs-3" style="text-align:right">
		<div class="">Away Team Name</div>
	</div>
	<div class="col-xs-1">
		<div class="">(117/6)</div>
	</div>
	<div class="col-xs-3" style="text-align:right">
		<div class="">DWL Par Score</div>
	</div>
	<div class="col-xs-1">
		<div class="">20</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3" style="text-align:right">
 		<div class="">Over No.</div>
	</div>
	<div class="col-xs-1">
		<div class="">17.4</div>
	</div>
	<div class="col-xs-3" style="text-align:right">
		<div class="">Overs Left</div>
	</div>
	<div class="col-xs-1">
		<div class="">20</div>
	</div>
	<div class="col-xs-3" style="text-align:right">
		<div class="">Run Rate</div>
	</div>
	<div class="col-xs-1">
		<div class="">5.63</div>
	</div>
</div>
