{% extends "./base.html" %}
{% load staticfiles %}

{% comment %} http://www.webhook.com/docs/template-inheritance-blocks/ {% endcomment %}

{% block head_css %}
	<link href="{% static 'css/scoring.css' %}" rel="stylesheet" media="screen"/>
{% endblock %}

{% block head_js %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div>
	<span style="padding:50px"></span>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
      				<a class="navbar-brand">Scoresheet</a>
          		</div>
  			<ul class="nav navbar-nav">
  				<li class="active"><a data-toggle="tab" href="#Batters">Batters</a></li>
  				<li class=""><a data-toggle="tab" href="#Bowlers">Bowlers</a></li>
  				<li class=""><a data-toggle="tab" href="#Ball-By-Ball">Ball-By-Ball</a></li>
          		</ul>
  			<ul class="nav navbar-nav navbar-right">
  				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-share-alt"></span> Share
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#"
	  						class="twitter-post"
							style="background-color:#55ACEE;
							color:white;">
								Live Tweet
							</a>
						</li>
						<li><a href="#">Email</a></li>
						<li><a href="#">Produce Report</a></li>
						</li>
					</ul>
				</li>
  				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Exit</a></li>
        		</ul>
    		</div>
	</nav>
	<div class="tab-content">
		<div id="Batters" class="tab-pane fade in active">
			<div class="container-fluid">
				{% include "./scoring_batting_table.html" %}
			</div>
		</div>
	
		<div id="Bowlers" class="tab-pane fade">
			<div class="container-fluid">
				{% include "./scoring_bowling_table.html" %}
			</div>
		</div>
	
		<div id="Ball-By-Ball" class="tab-pane fade">
			<div class="container-fluid">
				{% include "./scoring_ball_by_ball_display.html" %}
			</div>
		</div>
	</div>
	<br><br><br>
	<div class="container-fluid" style="color:white!important">
		{% include "./scoring_buttons_layout.html" %} 
	</div>
</div>
{% endblock %}


{% block body_js %}
	<script type="text/javascript" src="{% static 'js/scoring.js' %}"></script>
{% endblock %}
