<div style="padding-left:10px">
<table class="table" style="border:none">
	<thead class="thead-default">
	<tr>
		<th>Names</th>
		<th data-toggle="tooltip" data-placement="top"
			       title="Runs Scored"> R </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Balls Faced"> B  </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Number of 4s Hit"> 4s </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Number of 6s Hit"> 6s </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Strike Rate = Runs Scored per 100 balls faced"> SR </th>
	</tr>
	</thead>
	<tbody>
		<tr>
		<th scope="row">Batter 1</th>
		<td>10</td>
		<td>200</td>
		<td>3</td>
		<td>10</td>
		<td>132</td>
		</tr>
	<tr>
		<th scope="row">Batter 2</th>
		<td>200</td>
		<td>10</td>
		<td>10</td>
		<td>3</td>
		<td>123</td>
	</tr>
	<tr>
		<th scope="row">Partnership</th>
		<td>210</td>
		<td>xx</td>
		<td>yy</td>
		<td>jj</td>
		<td>ww</td>
	</tr>
	</tbody>
</table>
</div>
