<div class="row">
	<div class="col-xs-3" style="text-align:center">
		<div id="bating-first-title">Batting First</div>
	</div>
	<div class="col-xs-1">
		<div class="live-stats" id="batting-first"></div>
	</div>
	<div class="col-xs-3" style="text-align:center">
		<div id="batting-second-title">Batting Second</div>
	</div>
	<div class="col-xs-1">
		<div class="live-stats" id="batting-second"></div>
	</div>
	<div class="col-xs-3" style="text-align:center">
		<div class="">RR</div>
	</div>
	<div class="col-xs-1">
		<div class=""></div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3" style="text-align:center">
 		<div class="">Over No.</div>
	</div>
	<div class="col-xs-1">
		<div class="live-stats" id="over"></div>
	</div>
	<div class="col-xs-3" style="text-align:center">
		<div class="">Predicted Score</div>
	</div>
	<div class="col-xs-1">
		<div class="live-stats" id="prediction"></div>
	</div>
	<div class="col-xs-3" style="text-align:center">
		<div class="">Req.RR</div>
	</div>
	<div class="col-xs-1">
		<div class="live-stats" id="req-run-rate"></div>
	</div>
</div>
