<div>
<table class="table" style="border:none">
	<thead class="thead-default">
	<tr>
		<th>Names</th>
		<th data-toggle="tooltip" data-placement="top"
			       title="Runs Scored"> R </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Balls Faced"> B  </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Number of 4s Hit"> 4s </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Number of 6s Hit"> 6s </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Strike Rate = Runs Scored per 100 balls faced"> SR </th>
	</tr>
	</thead>
	<tbody>
		<tr id="batter-1-stats">
			<th scope="row" id="batter-1"></th>
			<!--This is where the client side JS will insert the
	   		live stats for for the onstrike batter returned from 
			the server-->
		</tr>
		<tr id="batter-2-stats">
			<th scope="row" id="batter-2"></th>
			<!--This is where the client side JS will insert the
	   		live stats for for the onstrike batter returned from 
			the server-->
		</tr>
		<tr>
			<th scope="row">Partnership</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
