<div style="padding-left:10px">
<table class="table">
	<thead class="thead-default">
	<tr>
		<th>Names</th>
		<th data-toggle="tooltip" data-placement="top"
			       title="Overs bowled"> O </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Runs conceded"> R  </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Madiens bowled"> M </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Wicket taken"> W </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Runs per over"> Econ </th>
	</tr>
	</thead>
	<tbody>
		<tr>
		<th scope="row">Bowler 1</th>
		<td>10</td>
		<td>200</td>
		<td>3</td>
		<td>10</td>
		<td>132</td>
		</tr>
	<tr>
		<th scope="row">Bowler 2</th>
		<td>200</td>
		<td>10</td>
		<td>10</td>
		<td>3</td>
		<td>123</td>
	</tr>
	</tbody>
</table>
</div>
