<div>
<table class="table">
	<thead class="thead-default">
	<tr>
		<th>Names</th>
		<th data-toggle="tooltip" data-placement="top"
			       title="Overs bowled"> O </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Runs conceded"> R  </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Madiens bowled"> M </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Wicket taken"> W </th>
		<th data-toggle="tooltip" data-placement="top"
			title="Runs per over"> Econ </th>
	</tr>
	</thead>
	<tbody>
		<tr id="bowler-stats">
		<th scope="row" id="bowler"></th>
		<!--td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td-->
		</tr>
	<tr>
		<th scope="row"></th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
</table>
</div>
